<link rel="stylesheet" type="text/css" href="style/style.css">
<title>PenPalr: The Anonymous PenPal App</title>

<body>
        <div style="float:right"><a href="/about">About Us</a>    <a href="/login">Login</a>    <a href="/sign-up">Sign Up</a></div>
<div style="text-align:center"><h1>PenPalr</h1></div>
</body>