<html>
 
<head>
    <title>PenPalr</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="scripts/home.js"></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1><span class="fas fa-user-friends"></span> PenPalr</h1>
            <h2>Connecting people around the world!</h2>
        </div>
        <div class="login-elements">
            <h3>Log in</h3>
            <form method="POST" action="/chat">
                <div class="text-input">
                    <p>Username:</p>
                    <input type="text" class="input" name="username" required>
                </div>
                <div class="text-input">
                    <p>Password:</p>
                    <input type="password" class="input" name="password" required>
                </div>
                <input type="submit" class="login-button" value="Login">
            </form>
        </div>
        <div class="sign-up">
            <h5>Don't have an account with us? Sign up and start chatting now!</h5>
            <a href="/sign-up" class="sign-up-button">Sign Up <span class="fas fa-angle-right"></span></a>
        </div>
    </div>
    <h6>© Copyright 2019, Team 🅱️ RUHacks 2019</h6>
</body>

</html>
