<html>

<head>
    <title>Personal Profile</title>
    <link rel="stylesheet" type="text/css" href="css/profile.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="scripts/profile.js"></script>

</head>

<body>
    <div class="container">
        <div class="header">
            <h1 id="personality"><span class="fas fa-user-friends"></span> Your personality is </h1>
        </div>
        <div id="body" class="body-layout1">
        </div>

        <h3>Click to start chatting with people just like you located around the globe!</h3>
        <button class="chat-button">Chat Now!  <span class="fas fa-angle-right"></span></button>
    </div>
</body>

</html>