@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    background-color: #95dfd0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container {
    margin: 2em;
    border: 2px solid black;
    padding: 20px;
}

.body-layout {
    border-top-color: black;
}

.chat-button {
    padding: 12px 20px;
    background-color: #95dfd0;
    color: black;
    border: 2px solid black;
    margin: 2em;
    font-size: 110%;
}

.chat-button:hover {
    background-color: black;
    color: #95dfd0;
    cursor: pointer;
}